/* line 1, style-dark.scss */
* {
  font-family: 'Montserrat', sans-serif; }

/* line 12, style-dark.scss */
h1 {
  font-size: 5rem;
  color: #fff; }

/* line 16, style-dark.scss */
h2 {
  font-size: 2rem; }

/* line 21, style-dark.scss */
h3 {
  font-size: 1.5rem; }

@media screen and (max-width: 768px) {
  /* line 32, style-dark.scss */
  body {
    max-width: 100vw;
    overflow-x: hidden; }

  /* line 36, style-dark.scss */
  h1 {
    font-size: 3rem; } }
@media screen and (max-width: 576px) {
  /* line 49, style-dark.scss */
  header {
    max-width: 100vw;
    overflow-x: hidden; }

  /* line 53, style-dark.scss */
  body {
    max-width: 100vw;
    overflow-x: hidden; }

  /* line 58, style-dark.scss */
  h1 {
    font-size: 2.5rem; }

  /* line 61, style-dark.scss */
  h2 {
    font-size: 2rem; }

  /* line 64, style-dark.scss */
  h3 {
    font-size: 1.5rem; } }
/* line 72, style-dark.scss */
body {
  margin: 0 auto;
  background-color: #102436; }
  /* line 77, style-dark.scss */
  body header nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 25px 15px 10px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
    color: #fff; }
    /* line 91, style-dark.scss */
    body header nav.scoll-animate-in {
      background-color: #102436;
      -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
              box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
      padding: 15px 15px 10px 15px; }
      /* line 100, style-dark.scss */
      body header nav.scoll-animate-in ul li a {
        color: #fff; }
        /* line 103, style-dark.scss */
        body header nav.scoll-animate-in ul li a .nav-bg {
          width: 0;
          height: 0;
          border-top: 0px solid #fff;
          border-left: 100vw solid transparent;
          position: absolute;
          bottom: 20;
          right: 0;
          z-index: 90; }
        /* line 114, style-dark.scss */
        body header nav.scoll-animate-in ul li a::before, body header nav.scoll-animate-in ul li a::after {
          position: absolute;
          opacity: 0;
          width: 0%;
          height: 1px;
          content: '';
          background: #fff;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          display: block; }
        /* line 125, style-dark.scss */
        body header nav.scoll-animate-in ul li a:hover, body header nav.scoll-animate-in ul li a:focus {
          text-decoration: none;
          color: #fff; }
          /* line 129, style-dark.scss */
          body header nav.scoll-animate-in ul li a:hover::after, body header nav.scoll-animate-in ul li a:focus::after {
            opacity: 1;
            width: 80%; }
          /* line 134, style-dark.scss */
          body header nav.scoll-animate-in ul li a:hover::before, body header nav.scoll-animate-in ul li a:focus::before {
            opacity: 1;
            width: 80%; }
    @media screen and (max-width: 576px) {
      /* line 77, style-dark.scss */
      body header nav {
        background-color: #102436;
        height: 55px;
        padding: 0; }
        /* line 149, style-dark.scss */
        body header nav .mobile-nav-wrapper {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: #102436;
          padding: 10px 15px 10px;
          z-index: 1000;
          -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
                  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }
          /* line 161, style-dark.scss */
          body header nav .mobile-nav-wrapper #mobile-nav-button {
            height: 30px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            /* line 166, style-dark.scss */
            body header nav .mobile-nav-wrapper #mobile-nav-button .button-lines {
              display: block;
              width: 27px;
              height: 2px;
              background-color: #fff;
              margin: 8px 0;
              position: relative; }
              /* line 175, style-dark.scss */
              body header nav .mobile-nav-wrapper #mobile-nav-button .button-lines::before, body header nav .mobile-nav-wrapper #mobile-nav-button .button-lines::after {
                content: '';
                width: 27px;
                height: 2px;
                background-color: #fff;
                margin: 9px 0;
                position: absolute;
                display: block; }
              /* line 185, style-dark.scss */
              body header nav .mobile-nav-wrapper #mobile-nav-button .button-lines::before {
                bottom: 0; }
              /* line 188, style-dark.scss */
              body header nav .mobile-nav-wrapper #mobile-nav-button .button-lines::after {
                top: 0; }
        /* line 196, style-dark.scss */
        body header nav.open ul {
          -webkit-transform: translateY(0%);
                  transform: translateY(0%); } }
    /* line 202, style-dark.scss */
    body header nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 576px) {
        /* line 202, style-dark.scss */
        body header nav ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin-top: 55px;
          -webkit-transform: translateY(-100%);
                  transform: translateY(-100%);
          -webkit-transition: all ease-out .5s;
          transition: all ease-out .5s;
          background: #102436;
          -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
                  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); } }
      /* line 219, style-dark.scss */
      body header nav ul li {
        padding: 0 10px; }
        /* line 222, style-dark.scss */
        body header nav ul li a {
          position: relative;
          display: block;
          padding: 15px 30px;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase; }
          /* line 230, style-dark.scss */
          body header nav ul li a:hover {
            text-decoration: none;
            color: #fff; }
          @media screen and (max-width: 576px) {
            /* line 222, style-dark.scss */
            body header nav ul li a {
              padding: 15px;
              color: #fff;
              text-decoration: none;
              border-top: 1px solid #fff; }
              /* line 243, style-dark.scss */
              body header nav ul li a:focus {
                text-decoration: none;
                color: #fff; }
                /* line 247, style-dark.scss */
                body header nav ul li a:focus::after {
                  opacity: 0;
                  width: 0; }
                /* line 252, style-dark.scss */
                body header nav ul li a:focus::before {
                  opacity: 0;
                  width: 0; } }
          /* line 261, style-dark.scss */
          body header nav ul li a::before, body header nav ul li a::after {
            position: absolute;
            opacity: 0;
            width: 0%;
            height: 1px;
            content: '';
            background: #fff;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            display: block; }
          /* line 272, style-dark.scss */
          body header nav ul li a::before {
            top: 0px;
            left: 10%; }
          /* line 277, style-dark.scss */
          body header nav ul li a::after {
            right: 10%;
            bottom: 0px; }
          /* line 282, style-dark.scss */
          body header nav ul li a:hover, body header nav ul li a:focus {
            text-decoration: none;
            color: #fff; }
            /* line 286, style-dark.scss */
            body header nav ul li a:hover::after, body header nav ul li a:focus::after {
              opacity: 1;
              width: 80%; }
            /* line 291, style-dark.scss */
            body header nav ul li a:hover::before, body header nav ul li a:focus::before {
              opacity: 1;
              width: 80%; }
  /* line 302, style-dark.scss */
  body header .nav-bg {
    width: 100%;
    height: 0;
    background-color: #102436;
    -webkit-transition: height 0.5s;
    transition: height 0.5s; }
  /* line 308, style-dark.scss */
  body header nav.scoll-animate-in + .nav-bg {
    height: 100px; }
  @media screen and (max-width: 576px) {
    /* line 313, style-dark.scss */
    body header nav.scoll-animate-in {
      padding: 0; } }
  /* line 323, style-dark.scss */
  body main .home-container-1 article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    background-image: url(../img/home-dark.png);
    background-repeat: no-repeat;
    background-size: 100% 100%; }
    /* line 334, style-dark.scss */
    body main .home-container-1 article div {
      width: 40%;
      padding: 100px; }
  @media screen and (max-width: 768px) {
    /* line 342, style-dark.scss */
    body main .home-container-1 article {
      background-size: auto 100%;
      overflow: hidden;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      background-position: 15%; } }
  @media screen and (max-width: 576px) {
    /* line 352, style-dark.scss */
    body main .home-container-1 article {
      background-position: 20%; }
      /* line 354, style-dark.scss */
      body main .home-container-1 article div {
        padding: 50px;
        width: 70%; } }
  /* line 364, style-dark.scss */
  body main #thema .thema-container-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff; }
    /* line 373, style-dark.scss */
    body main #thema .thema-container-1 .thema-1 {
      width: 70%; }
      /* line 376, style-dark.scss */
      body main #thema .thema-container-1 .thema-1 article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        /* line 381, style-dark.scss */
        body main #thema .thema-container-1 .thema-1 article h2 {
          width: 100%; }
        /* line 385, style-dark.scss */
        body main #thema .thema-container-1 .thema-1 article div {
          width: 45%;
          overflow: hidden;
          height: 500px; }
          /* line 391, style-dark.scss */
          body main #thema .thema-container-1 .thema-1 article div img {
            width: 100%; }
        @media screen and (max-width: 768px) {
          /* line 399, style-dark.scss */
          body main #thema .thema-container-1 .thema-1 article div {
            width: 100%;
            height: auto;
            margin-bottom: 20px; } }
  /* line 409, style-dark.scss */
  body main #thema .thema-container-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    /* line 413, style-dark.scss */
    body main #thema .thema-container-2 .thema-container-text {
      height: 300px; }
    /* line 418, style-dark.scss */
    body main #thema .thema-container-2 .block-1, body main #thema .thema-container-2 .block-3 {
      background-color: #fff;
      width: 33%;
      padding: 50px;
      color: #102436; }
    /* line 426, style-dark.scss */
    body main #thema .thema-container-2 .block-2 {
      background-color: #102436;
      width: 33%;
      padding: 50px;
      color: #fff; }
  @media screen and (max-width: 768px) {
    /* line 438, style-dark.scss */
    body main #thema .thema-container-2 {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      /* line 441, style-dark.scss */
      body main #thema .thema-container-2 .block-1 {
        width: 100%; }
      /* line 444, style-dark.scss */
      body main #thema .thema-container-2 .block-2 {
        width: 100%; }
      /* line 447, style-dark.scss */
      body main #thema .thema-container-2 .block-3 {
        width: 100%; } }
  @media screen and (max-width: 576px) {
    /* line 456, style-dark.scss */
    body main #thema .thema-container-2 .block-1, body main #thema .thema-container-2 .block-2 {
      padding-bottom: 130px; } }
  /* line 465, style-dark.scss */
  body main #hintergrund .hintergrund-container-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #fff; }
    /* line 474, style-dark.scss */
    body main #hintergrund .hintergrund-container-1 .hintergrund-1 {
      width: 70%; }
      /* line 477, style-dark.scss */
      body main #hintergrund .hintergrund-container-1 .hintergrund-1 article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        /* line 482, style-dark.scss */
        body main #hintergrund .hintergrund-container-1 .hintergrund-1 article h2 {
          width: 100%; }
        /* line 485, style-dark.scss */
        body main #hintergrund .hintergrund-container-1 .hintergrund-1 article div {
          width: 50%; }
      @media screen and (max-width: 768px) {
        /* line 492, style-dark.scss */
        body main #hintergrund .hintergrund-container-1 .hintergrund-1 article div {
          width: 100%; } }
      /* line 498, style-dark.scss */
      body main #hintergrund .hintergrund-container-1 .hintergrund-1 .hintergrund-2 {
        margin-top: 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        /* line 503, style-dark.scss */
        body main #hintergrund .hintergrund-container-1 .hintergrund-1 .hintergrund-2 section {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          width: 30%; }
          /* line 509, style-dark.scss */
          body main #hintergrund .hintergrund-container-1 .hintergrund-1 .hintergrund-2 section .js_count {
            font-size: 5rem;
            font-weight: 700; }
          /* line 514, style-dark.scss */
          body main #hintergrund .hintergrund-container-1 .hintergrund-1 .hintergrund-2 section p {
            width: 100%;
            text-align: center; }
      @media screen and (max-width: 768px) {
        /* line 522, style-dark.scss */
        body main #hintergrund .hintergrund-container-1 .hintergrund-1 .hintergrund-2 {
          margin-top: 0; }
          /* line 526, style-dark.scss */
          body main #hintergrund .hintergrund-container-1 .hintergrund-1 .hintergrund-2 section .js_count {
            font-size: 2rem; } }
      @media screen and (max-width: 576px) {
        /* line 534, style-dark.scss */
        body main #hintergrund .hintergrund-container-1 .hintergrund-1 .hintergrund-2 {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          /* line 537, style-dark.scss */
          body main #hintergrund .hintergrund-container-1 .hintergrund-1 .hintergrund-2 section {
            width: 100%;
            padding-top: 20px; } }
  @media screen and (max-width: 768px) {
    /* line 549, style-dark.scss */
    body main #hintergrund .hintergrund-container-1 {
      padding-bottom: 0; } }
  @media screen and (max-width: 576px) {
    /* line 556, style-dark.scss */
    body main #hintergrund .hintergrund-container-1 {
      padding-bottom: 0; } }
  /* line 565, style-dark.scss */
  body main #projekt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    /* line 568, style-dark.scss */
    body main #projekt .projekt-container-1 {
      color: #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 70%; }
      /* line 575, style-dark.scss */
      body main #projekt .projekt-container-1 .projekt-1 {
        width: 100%;
        padding-top: 100px; }
        /* line 581, style-dark.scss */
        body main #projekt .projekt-container-1 .projekt-1 div {
          width: 50%;
          margin-bottom: 30px; }
        /* line 586, style-dark.scss */
        body main #projekt .projekt-container-1 .projekt-1 article {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          /* line 591, style-dark.scss */
          body main #projekt .projekt-container-1 .projekt-1 article h2 {
            width: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between; }
          /* line 596, style-dark.scss */
          body main #projekt .projekt-container-1 .projekt-1 article div {
            width: 48%;
            overflow: hidden;
            height: 500px; }
            /* line 600, style-dark.scss */
            body main #projekt .projekt-container-1 .projekt-1 article div img {
              width: 100%; }
        @media screen and (max-width: 768px) {
          /* line 607, style-dark.scss */
          body main #projekt .projekt-container-1 .projekt-1 div {
            width: 100%;
            margin-bottom: 0; }
          /* line 611, style-dark.scss */
          body main #projekt .projekt-container-1 .projekt-1 article {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
            /* line 615, style-dark.scss */
            body main #projekt .projekt-container-1 .projekt-1 article div {
              width: 100%;
              height: auto; } }
      @media screen and (max-width: 768px) {
        /* line 625, style-dark.scss */
        body main #projekt .projekt-container-1 .projekt-1 {
          padding-top: 0; } }
      @media screen and (max-width: 576px) {
        /* line 632, style-dark.scss */
        body main #projekt .projekt-container-1 .projekt-1 {
          padding-top: 0; } }
      /* line 637, style-dark.scss */
      body main #projekt .projekt-container-1 .projekt-2 {
        width: 100%;
        margin-bottom: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: self-start;
            -ms-flex-align: self-start;
                align-items: self-start; }
        /* line 644, style-dark.scss */
        body main #projekt .projekt-container-1 .projekt-2 div {
          width: 50%; }
        @media screen and (max-width: 768px) {
          /* line 649, style-dark.scss */
          body main #projekt .projekt-container-1 .projekt-2 div {
            width: 100%; } }
      @media screen and (max-width: 768px) {
        /* line 656, style-dark.scss */
        body main #projekt .projekt-container-1 .projekt-2 {
          margin-bottom: 10px; } }
    @media screen and (max-width: 768px) {
      /* line 663, style-dark.scss */
      body main #projekt .projekt-container-1 {
        padding-top: 100px; } }
  /* line 672, style-dark.scss */
  body footer {
    height: 100px;
    width: 100%;
    margin-top: 100px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #102436; }
  /* line 688, style-dark.scss */
  body .button-parent {
    margin-top: 20px; }
    /* line 692, style-dark.scss */
    body .button-parent .btn-primary {
      padding: 15px 25px;
      background-color: transparent;
      color: #102436;
      border-top: 1px solid #102436;
      border-bottom: 1px solid #102436;
      border-left: none;
      border-right: none;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      /* line 705, style-dark.scss */
      body .button-parent .btn-primary:hover {
        border-color: transparent;
        font-weight: 600; }
        /* line 709, style-dark.scss */
        body .button-parent .btn-primary:hover .focusLine {
          -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0); }
      /* line 713, style-dark.scss */
      body .button-parent .btn-primary:focus {
        background-color: #102436;
        color: #fff;
        font-weight: 600; }
      /* line 718, style-dark.scss */
      body .button-parent .btn-primary .focusLine {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        background: #102436;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0); }
    /* line 731, style-dark.scss */
    body .button-parent .btn-secondary {
      padding: 15px 25px;
      background-color: transparent;
      color: #fff;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      border-left: none;
      border-right: none;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      position: relative;
      overflow: hidden;
      cursor: pointer; }
      /* line 744, style-dark.scss */
      body .button-parent .btn-secondary:hover {
        border-color: transparent;
        font-weight: 600; }
        /* line 748, style-dark.scss */
        body .button-parent .btn-secondary:hover .focusLine {
          -webkit-transform: translate3d(0, 0, 0);
                  transform: translate3d(0, 0, 0); }
      /* line 752, style-dark.scss */
      body .button-parent .btn-secondary:focus {
        background-color: #fff;
        color: #102436;
        font-weight: 600; }
      /* line 757, style-dark.scss */
      body .button-parent .btn-secondary .focusLine {
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        background: #fff;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform: translate3d(0, 100%, 0);
                transform: translate3d(0, 100%, 0); }
  /* line 771, style-dark.scss */
  body .number-bar {
    padding-top: 200px;
    height: 1000px; }
  /* line 777, style-dark.scss */
  body #slider-container {
    height: auto !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    height: 100vh;
    -webkit-transition: .25s;
    transition: .25s; }
    /* line 788, style-dark.scss */
    body #slider-container .credit {
      position: absolute;
      bottom: 20px;
      left: 20px;
      color: inherit; }
    /* line 795, style-dark.scss */
    body #slider-container .options {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch;
      overflow: hidden;
      min-width: 600px;
      max-width: 900px;
      width: calc(100% - 100px);
      height: 400px; }
      /* line 808, style-dark.scss */
      body #slider-container .options .option {
        position: relative;
        overflow: hidden;
        min-width: 60px;
        margin: 10px;
        background: var(--optionBackground);
        background-size: auto 120%;
        background-position: center;
        cursor: pointer;
        -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); }
        /* line 822, style-dark.scss */
        body #slider-container .options .option.active {
          -webkit-box-flex: 10000;
              -ms-flex-positive: 10000;
                  flex-grow: 10000;
          -webkit-transform: scale(1);
                  transform: scale(1);
          max-width: 600px;
          margin: 0px;
          border-radius: 40px;
          background-size: auto 100%; }
          /* line 831, style-dark.scss */
          body #slider-container .options .option.active .shadow {
            -webkit-box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
                    box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black; }
          /* line 834, style-dark.scss */
          body #slider-container .options .option.active .label {
            bottom: 20px;
            left: 20px; }
            /* line 837, style-dark.scss */
            body #slider-container .options .option.active .label .info > div {
              left: 0px;
              opacity: 1; }
        /* line 844, style-dark.scss */
        body #slider-container .options .option:not(.active) {
          -webkit-box-flex: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          border-radius: 30px; }
          /* line 848, style-dark.scss */
          body #slider-container .options .option:not(.active) .shadow {
            bottom: -40px;
            -webkit-box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
                    box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black; }
          /* line 852, style-dark.scss */
          body #slider-container .options .option:not(.active) .label {
            bottom: 10px;
            left: 10px; }
            /* line 855, style-dark.scss */
            body #slider-container .options .option:not(.active) .label .info > div {
              left: 20px;
              opacity: 0; }
        /* line 861, style-dark.scss */
        body #slider-container .options .option .shadow {
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          height: 120px;
          -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
          transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); }
        /* line 871, style-dark.scss */
        body #slider-container .options .option .label {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          position: absolute;
          right: 0px;
          height: 40px;
          -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
          transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95); }
          /* line 878, style-dark.scss */
          body #slider-container .options .option .label .icon {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: #102436;
            color: var(--defaultBackground); }
          /* line 892, style-dark.scss */
          body #slider-container .options .option .label .info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            margin-left: 10px;
            color: #fff;
            white-space: pre; }
            /* line 902, style-dark.scss */
            body #slider-container .options .option .label .info > div {
              position: relative;
              -webkit-transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
              transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out; }
            /* line 907, style-dark.scss */
            body #slider-container .options .option .label .info .main {
              font-weight: bold;
              font-size: 1.2rem; }
            /* line 911, style-dark.scss */
            body #slider-container .options .option .label .info .sub {
              -webkit-transition-delay: .1s;
                      transition-delay: .1s; }
  @media screen and (max-width: 768px) {
    /* line 922, style-dark.scss */
    body #slider-container {
      overflow: visible; } }
  @media screen and (max-width: 576px) {
    /* line 930, style-dark.scss */
    body #slider-container {
      height: auto;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      height: 500px; }
      /* line 938, style-dark.scss */
      body #slider-container .options {
        display: contents;
        width: 100%;
        height: 600px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        /* line 946, style-dark.scss */
        body #slider-container .options .option {
          width: 100%;
          height: 80px;
          border-radius: 40px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover; }
          /* line 954, style-dark.scss */
          body #slider-container .options .option .label {
            top: 20px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            position: relative; }
          /* line 962, style-dark.scss */
          body #slider-container .options .option.active {
            -webkit-box-flex: 10000;
                -ms-flex-positive: 10000;
                    flex-grow: 10000;
            -webkit-transform: scale(1);
                    transform: scale(1);
            max-height: 300px;
            border-radius: 40px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover; }
          /* line 973, style-dark.scss */
          body #slider-container .options .option:not(.active) {
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            border-radius: 40px; } }

/*body zu*/
/* line 991, style-dark.scss */
#darkmode-Btn {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  bottom: 110px;
  right: 50px;
  background-color: #fff;
  border: 1px solid #102436;
  color: #102436;
  padding: 10px 15px;
  cursor: pointer; }
  /* line 1006, style-dark.scss */
  #darkmode-Btn:hover {
    background-color: #102436;
    border: 1px solid #fff;
    color: #fff; }
  /* line 1012, style-dark.scss */
  #darkmode-Btn .dark {
    position: absolute;
    opacity: 0; }

@media screen and (max-width: 576px) {
  /* line 1020, style-dark.scss */
  #darkmode-Btn {
    top: 10px;
    z-index: 100;
    right: 20px;
    bottom: auto; } }
/* line 1035, style-dark.scss */
#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  background-color: #102436;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer; }
  /* line 1048, style-dark.scss */
  #backToTopBtn:hover {
    background-color: #fff;
    border: 1px solid #102436;
    color: #102436; }

@media screen and (max-width: 576px) {
  /* line 1056, style-dark.scss */
  #backToTopBtn {
    bottom: 30px;
    right: 20px; } }

/*# sourceMappingURL=style-dark.css.map */